@layer components {
    .sidebar-item {
        transition: all 0.2s ease;
    }

    .sidebar-item:hover {
        background-color: var(--color-sidebar-hover);
    }

    .sidebar-item.active {
        background-color: var(--color-accent);
        color: var(--color-sidebar);
    }
    [x-cloak] {
        display: none !important;
    }
}
