@theme {
  --color-ml-bg: #3a7a55;
  --color-ml-bg-dark: #2f6647;
  --color-ml-heart: #4a8a60;
  --color-ml-bubble: #6aaa78;
  --color-ml-card: #f2f0eb;
  --color-ml-input: #e0ddd7;
  --color-ml-btn: #5a7a2e;
  --color-ml-btn-hover: #4a6a25;
  --color-ml-text: #2a2a2a;
  --color-ml-placeholder: #9a9a8a;

  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter)
}
